<div class="profile-input-wrapper">
  <label for="{{name}}" class="profile-input-label">{{label}}</label>
  {{#if disabled}}
    <input
      class="profile-input"
      name="{{name}}"
      type="{{type}}"
      value="{{value}}"
      disabled="true"
    />
  {{else}}
    <input
      class="profile-input"
      name="{{name}}"
      type="{{type}}"
      value="{{value}}"
    />
  {{/if}}
</div>
