<div class="profile-input-label">
  <label for="{{name}}" class="profile-input-label">{{label}}</label>
  <input
    class="profile-input"
    name="{{name}}"
    type="{{type}}"
    value="{{value}}"
    disabled="{{disabled}}"
  />
</div>
